/* Contact */

.contact_title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 170px;
    height: 1px;
    background: #EC7979;
    display: block;
    margin: 0 auto;
}

.contact_left {
    width: 100%;
    max-width: 572px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    
}

.contact_right{
    width: 100%;
    max-width: 572px;
    display: flex;
    flex-direction: column;
    
    
}
.send {
    text-align: center;
    padding: 60px 0;
}