/* Header */
header {
    background-color: #000000;
}

.header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

/* Nav */

.nav li {
    display: inline-block; 
    margin-left: 50px;
}

.nav li:first-child{
    margin-left: 0;
}



.nav_link {
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
 
}


.nav_link:hover{
color: #EC7979;
transition: color .2s linear;
}
