/* Header */
header {
    background-color: #000000;
}

.header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

/* Nav */


.nav li {
    display: inline-block; 
    margin-left: 20px;
}

.nav li:first-child{
    margin-left: 0;
}



.nav_link {
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    transition: .2s linear;
    padding: 28px;
  
    
 
}


.nav_link:hover{
background-color: #EC7979;
transition: background-color .2s linear;


}

.nav_link:active {
background: #AB4949;
}
