/* Input */
.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.name {
border: none;
color: #BDBDBD;
border-bottom: 1px solid #BDBDBD;
margin-bottom: 20px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
padding-bottom: 10px;
margin-bottom: 40px;


}
.email {

border: none;
color: #BDBDBD;
border-bottom: 1px solid #BDBDBD;
margin-bottom: 20px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
padding-bottom: 10px;
margin-bottom: 40px;

}

.message {
border: none;
color: #BDBDBD;
border-bottom: 1px solid #BDBDBD;
margin-bottom: 20px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
padding-bottom: 152px;

}

.password {
border: none;
color: #BDBDBD;
border-bottom: 1px solid #BDBDBD;
margin-bottom: 20px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
padding-bottom: 10px;
margin-bottom: 40px;
}