@import url(../css/awesome/awesome.css);
@import url(../css/button/button.css);
@import url(../css/contact/contact.css);
@import url(../css/customers/customers.css);
@import url(../css/tabs/tabs.css);
@import url(../css/design/design.css);
@import url(../css/footer/footer.css);
@import url(../css/header/header.css);
@import url(../css/input/input.css);
@import url(../css/intro/intro.css);
@import url(../css/social/social.css);
@import url(../css/pricing/pricing.css);
@import url(../css/media/media.css);

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight:700 ;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight:400 ;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-SemiBold.woff);
    font-weight:600 ;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.woff);
    font-weight:700 ;
}


@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Medium.woff);
    font-weight:500 ;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.woff);
    font-weight:400 ;
}




*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    
    

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}





/* Section */
.section {
    padding: 50px 0;
}

.section--gray {
    background: #F5F5F5;
}

.section--bottom-margin-big {
  padding-bottom: 64px;
}

.text-center {
    text-align: center;
}







