/* Contact */
.contact_item {
    margin-bottom: 50px;
}
.contact_title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 170px;
    height: 1px;
    background: #EC7979;
    display: block;
    margin: 0 auto;
}

.form_holder{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin:auto;
    column-gap: 40px;

}

.contact_input {
    width: 100%;
}

.contact_right{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
    
}

.contact_left {
    display: flex;
    flex-direction: column;
  width: 100%;
}


.send {
    text-align: center;
    padding: 60px 0;
}

.contact_title{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
}