/* Social */

.social_media {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #F8EFEF;
    padding: 20px 0px;

}

.social_text {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B;

}

.social_img {
    margin-right: 20px;
}
.social_title {
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #333333;
margin-bottom: 30px;
}

.social_text p {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B;
}

.social{
    padding-top: 20px;
}

.social--footer {
    max-width: 54px;
    margin-right: 34px;


}