@media only screen and (min-device-width : 780px) and (max-device-width : 1024px) {

  .title--h2{
  line-height: 29px;
  font-size: 24px;
  margin-bottom: 70px;

}


.title--h2::after {
  margin: -35px auto;
}

.description  {
  line-height: 17px;
  font-size: 14px;

}


  /* Social */

.social_item {
 margin-left: 20px;
}

.social {
  margin-right: 20px;
}

.social_img {
  max-width: 64px;
}

  .social_text {
    font-size: 14px;
    line-height: 17px;
  }

  .social_title {
    font-size: 18px;
    line-height: 25px;

  }

  /* Header */
  .header_inner {
    margin: 0 30px;
  }

/* Intro { */

  .logo_intro {
    max-width: 184px;
  }
  .intro_inner {
    margin: 0 30px;
  }

  .main {
    max-width: 455px;
  }
.title_main {
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
}


.main_text_item {
  max-width: 184px;
}
.main_text {
  font-size: 14px;
  line-height: 18px;
}

.intro_right {
  max-width: 398px;
}

/* Tab */

.tab_slide {
  max-width: 992px;
}

.tabs_title {
  font-size: 24px;
  line-height: 33px;
}

.tab_text {
font-weight: 400;
font-size: 14px;
line-height: 16px;
}

.tab_img {
  max-width: 398px;
}

#tab-btn-1:checked~#content-1, #tab-btn-2:checked~#content-2, #tab-btn-3:checked~#content-3 {
  
  column-gap: 89px;
}

  }

  /* Customers */

  .customer_card {
    margin: auto;
    width: 100%;
    max-width: 317px;
    margin-bottom: 57px;
  }

  .people_name{
font-size: 18px;
line-height: 25px;
  }

  .people_img {
    max-width: 64px;
  }

  .people_job {
    font-size: 14px;
    line-height: 16px;
  }

  .triangle {
    top: 201px;
  }

  .customer_rv {
   font-size: 14px;
   line-height: 17px;
   padding: 35px;
  }



/* Contact */

.contact_item {
  margin-top: 50px;
  padding: 0 20px;
}



/* Awesome */

.awesome_img {
  max-width: 147px;
}

.awesome_name {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}


.awesome_desc {
font-weight: 400;
font-size: 14px;
line-height: 16px;
}

/* Design */


  /* Pricing */
 