/* Button */


.button_intro {
    display: block;
    width: 100%;
    max-width: 270px;
    color: #FFFFFF;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    text-align: center;
    padding: 15px 20px;
    margin-top: 40px;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
   
     
}

.design--button {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 400px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  
    }

.button_intro:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
    transition: background-color .2s linear;
}
.button_intro:active{
    background: #AB4949;
}




.start_button {
    position: absolute;
    top: 390px;
    left: 0;
    width: 100%;
    max-width: 470px;
    text-decoration: none;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    color: #FFFFFF;
    padding: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: none;
    
}

.start_button:hover {

    background: #AB4949;
    transition: background-color .2s linear;
    }

.start_button:active{
    background: #EC7979;
}


.button_tabs {
    background: #EC7979;
    text-decoration: none;
    padding: 20px 100px;
    max-width: 295px;
    display: block;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: none;
    

}

.button_tabs:hover {
    background: #AB4949;
    transition: background-color .2s linear;
}

.button_tabs:active{
    background: #EC7979;
}

.button--contact {
    
    margin: auto;
    border:none;
    width: 100%;
    max-width: 400px;

}